.profile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 20px;

  &_avatar {
    width: 32px;
    height: 36px;
    margin-right: 11px;

    &:hover {
      cursor: pointer;
    }
  }

  &_name {
    margin-right: 20px;
  }

  .material-icons:hover {
    opacity: 0.6;
    cursor: pointer;
    transition-duration: 0.8s;
  }
}

.dropdown {
  width: 208px;
  height: 200px;
  border-radius: 8px;
  background-color: #E1E7F7;
}
